<%= stylesheet_link_tag "dashboard" %>
<%= javascript_include_tag "home" %>
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>

<h2 align="center">Administrative Dashboard</h2>

<table id="table">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Contact Information</th>
    <th>Planted Produce <br>(Days until Ready)</th>
    <th>Notes</th>
  </tr>
</table>
<br>

<div id="textbox">
  <button class="btn default alignleft" onclick="location.href='addGarden.html'">Add a Garden</button>
</div>



</body>
</html>
