<%= stylesheet_link_tag "dashboard" %>
<%= javascript_include_tag "dashboard" %>
<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<h2 align="center">Administrative Dashboard</h2>

<table id="table">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Contact Information</th>
    <th>Planted Produce <br>(Days until Ready)</th>
    <th>Notes</th>
    <th></th>
  </tr>
  <tbody id="table_contents">
  </tbody>
</table>
<br>

<div id="textbox">
  <button class="btn default alignleft" onclick="location.href='addGarden.html'">Add a Garden</button>
</div>

<!--Modal responsable for delete_garden check-->
<div id="delete_modal" class="modal">
  <div class="modal-content">
    <h4>Delete Garden?</h4>
    <p>Are you sure you want to delete <span id="garden_name"></span></p>
  </div>
  <div id="delete_modal_footer" class="modal_footer">
  </div>
</div>


</body>
</html>
