<%= stylesheet_link_tag "dashboard" %>
<%= javascript_include_tag "dashboard" %>
<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper light-green">
      <a href="./" class="brand-logo" style="float: left; margin-left: .5vw;">Giving Gardens - Administrative Dashboard</a>
      <div style="height:100%; width:25vw; float:right;">
       <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
      </div>
    </div>
  </nav>
</div>
<div class="container">
<h3>Gardens</h3>
<table id="table">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Contact Name</th>
    <th>Contact Number</th>
    <th>Planted Produce, Date Available</th>
    <th>Notes</th>
    <th></th>
  </tr>
  <tbody id="table_contents">
  </tbody>
</table>
<br>
<button class="btn default alignleft" onclick="add_modal()">Add a Garden</button>
</div>
<!--Modal responsable for delete_garden check-->
<div id="delete_modal" class="modal">
  <div class="modal-content">
    <h4>Delete Garden?</h4>
    <p>Are you sure you want to delete <span id="garden_name"></span></p>
  </div>
  <div id="delete_modal_footer" class="modal_footer">
  </div>
</div>

<!--Modal responsable for adding a garden-->
<div id="add_modal" class="modal">
  <div class="modal-content">
    <h4>Add Garden</h4>
      <div class="row">
    <form id="add_garden" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="name" type="text" class="validate">
          <label for="name">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="address" type="text" class="validate">
          <label for="address">Address</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="lat" type="text" class="validate">
          <label for="lat">Latitude</label>
        </div>
        <div class="input-field col s6">
          <input id="long" type="text" class="validate">
          <label for="long">Longitude</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="contact_name" type="text" class="validate">
          <label for="contact_name">Contact Name</label>
        </div>
        <div class="input-field col s6">
          <input id="contact_num" type="text" class="validate">
          <label for="contact_num">Contact Number</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="image" type="text" class="validate">
          <label for="image">Image</label>
        </div>
        <div class="input-field col s6">
          <input id="notes" type="text" class="validate">
          <label for="notes">Notes</label>
        </div>
      </div>
    </form>
  </div>
  </div>
  <div id="add_modal_footer" class="modal_footer">
    <a onclick="add_modal_close()" class="modal-close waves-effect waves-green btn-flat">
      Cancel
    </a>
    <a onclick="add_garden()" class="modal-close waves-effect waves-green btn-flat">
      Add Garden
    </a>
  </div>
</div>

<!--Modal responsable for updating a garden-->
<div id="update_modal" class="modal">
  <div class="modal-content">
    <h4>Update Garden</h4>
      <div class="row">
    <form id="update_garden" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="name" type="text" class="validate">
          <label for="name">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="address" type="text" class="validate">
          <label for="address">Address</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="lat" type="text" class="validate">
          <label for="lat">Latitude</label>
        </div>
        <div class="input-field col s6">
          <input id="long" type="text" class="validate">
          <label for="long">Longitude</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="contact_name" type="text" class="validate">
          <label for="contact_name">Contact Name</label>
        </div>
        <div class="input-field col s6">
          <input id="contact_num" type="text" class="validate">
          <label for="contact_num">Contact Number</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="image" type="text" class="validate">
          <label for="image">Image</label>
        </div>
        <div class="input-field col s6">
          <input id="notes" type="text" class="validate">
          <label for="notes">Notes</label>
        </div>
      </div>
    </form>
  </div>
  </div>
  <div id="update_modal_footer" class="modal_footer">
    <a onclick="update_modal_close()" class="modal-close waves-effect waves-green btn-flat">
      Cancel
    </a>
    <a onclick="add_garden()" class="modal-close waves-effect waves-green btn-flat">
      Add Garden
    </a>
  </div>
</div>
</body>
</html>
