<%= stylesheet_link_tag "home" %>
<%= javascript_pack_tag 'home-pack' %>
<% provide(:nav_text, "Giving Gardens") %>
<div id = "content_body">
    <div id = "logo_div">
        <%= image_tag("Imagine Grinnell Logo.jpg", :alt => "Imagine Grinnell Logo") %>
    </div>
    <div id = "about_text_container">
        <div id = "about_text">
         <p>This is some sample text -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- </p>
        </div>
    </div>
</div>

