<%= stylesheet_link_tag "home" %>
<%= javascript_include_tag "home" %>
<div id="map"></div>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcxjlc7QhJOAskOrvlDZubGVNdT4qDxck&callback=initMap">
</script>
