<%= stylesheet_link_tag "home" %>
<%= javascript_pack_tag 'home-pack' %>
<% provide(:nav_text, "Giving Gardens") %>
<div id = "logo_div">
<%= image_tag("Imagine Grinnell Logo.jpg", :alt => "Imagine Grinnell Logo") %>
</div>
