<%= stylesheet_link_tag "home" %>
<%= javascript_include_tag "home" %>
<!--navbar-->
<div class="navbar-fixed">
  <nav class="">
    <div class="nav-wrapper light-green">
      <a href="#" class="brand-logo" style="float: left; margin-left: .5vw;">Giving Gardens</a>
      <div style="height:100%; width:25vw; float:right;">
       <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
      </div>
    </div>
  </nav>
</div>
<!--navbar-->
<div id="map"></div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcxjlc7QhJOAskOrvlDZubGVNdT4qDxck&callback=initMap"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
