<%= stylesheet_link_tag "dashboard" %> <!--use the same css as the dashboard-->
<% provide(:nav_text, "Giving Gardens - Produce By Garden") %>

<% @all_crops.each_key do |garden| %>
  <div class="container">
    <h4><%= garden %></h4>
    <table id="garden_table">
      <tr>
        <th>Produce</th>
        <th>Description</th>
      </tr>
      <% @all_crops[garden].each do |crop| %>
        <tr>
          <td><%= crop[0] %></td>
          <td><%= crop[1] %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
