/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";

$primary-color: color("light-green", "base");

/* Keep footer at bottom of the page */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* /footer-stuff */

.brand-logo:hover {
  background-color: #83b846;
}

#ig-footer {
  margin-top: 1rem;
  padding-top: 0;
  background-color: $primary-color;
}

.nav_btn {
  text-align: center;
  font-size: 2.1rem;
  float: right;
  padding-left: 15px;
  padding-right: 15px;
}
