<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_pack_tag 'global-pack' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
